*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }


#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;
  					   width: 100%;
  					   display: inline-block;}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;} 


.marcado {
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	background-position: center center;
	background-image: url("../img/starY.png");
}

.desmarcado {
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	background-position: center center;
	background-image: url("../img/starG.png");
}