<form method="get" action="/quizes">
	<p>Búsqueda de preguntas</p>
	<input type="text" name="search"/>
	<input type="submit" value="Texto a buscar">
</form>

<table>
    <% var i; for (i=0; i < quizes.length; i++) { %>
      <tr>
        <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <%if(session.user){%>
        <%if (session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
      <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
      <td>
        <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">borrar</button>
        </form>
      </td>
      <%}%>
     <td>
       <%if(marca[i] === "desmarcado"){%>
     <form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=put">
       <input class="desmarcado" type="submit" value="">
     </form>
     <%};%>
     <%if(marca[i] === "marcado"){%>
     <form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=delete">
       <button class="marcado" type="submit" onClick="return confirm('Eliminar: <%= quizes[i].pregunta %> de Favoritos');"></button>
     </form>
     <%}%>
     </td>
      <%}%>
      </tr>
    <% } %>
  </table>
<p/>
<%if(session.user){%>
  <a href="/quizes/new"><button>Crear pregunta</button></a>
<%}%>