	<%if(session.user){%>
	  <%if(marca === "desmarcado"){%>
		<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quiz.id %>?_method=put">
		  <input class="desmarcado" type="submit" value="">
		</form>
	  <%};%>
	  <%if(marca === "marcado"){%>
		<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quiz.id %>?_method=delete">
		  <button class="marcado" type="submit" onClick="return confirm('Eliminar: <%= quiz.pregunta %> de Favoritos');"></button>
		</form>
	  <%}%>
	<%}%>

<%if (quiz.image){%>
<p><img class="quiz_img" src="/media/<%= quiz.image %>"></p>
<%}%>

<form method="get" action="/quizes/<%= quiz.id %>/answer">        
  <%= quiz.pregunta %> <p>
      <input type="text" name="respuesta" value="Responda aquí"/>
      <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<%if(quiz.Comments[index].publicado){%>
		<p>- <%=quiz.Comments[index].texto%></p>
	<%} else if(session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))){%>
			<p>- <%=quiz.Comments[index].texto%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a></p>
	<%}%>	
<%}%> 
