<h2> Estadísticas:</h2>
<p> Número de preguntas: <%= preguntas %></p>
<p> Número de comentarios: <%= comentarios %></p>
<p> Número medio de comentarios por pregunta: <%= media %></p>
<p> Número de preguntas sin comentarios: <%= sinComments %></p>
<p> Número de preguntas con comentarios: <%= conComments %></p>